.body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: wheat;
    background-size:cover;
    background-position: center;
}
.membership-form {
    width: 300px;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        background: whitesmoke;
        padding: 5%;
        margin: 8% auto 0;
        text-align: center;
        margin-bottom: 8%;
        display: block;
        justify-content: center;
        
}
.input-box {
    border-radius: 15px;
    padding: 15px;
    margin: 8% auto 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
    font-size: 14px;
}
.membership-form h2 {
    color: goldenrod;
    margin-bottom: 20px;
}
.signup-btn {
    color: #fff;
    background-color: #1c8adb;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.twitter-btn{
    color: #fff;
    background-color: #21afde;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.facebook-btn {
    color: #fff;
    background-color: #0088ff;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}